doctype html
html
  head
    title=title
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:500,700|Roboto:400,500,700,900")
    link(rel="stylesheet" href='/style.css')
  body.js-body

    div.container
      form.view.js-join
        img(src="/l.png" class="main-image")
        h2="Tape ton nom d'équipe ou je te tape"
        input(type='text' name='team' placeholder="Nom d'équipe" required='required')
        button(type='submit')='Viens on est bien'

  div.view.js-joined
    div.title='PIB moi fort'
    button.js-buzzer.buzzer()=''
    div.chevre
    p.js-joined-info=""
    //button.js-edit.secondary='Change teams'
    script(src='/socket.io/socket.io.js')
    script(src='/join.js')
